# Discord OAuth2
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
# Must be the backend callback URL, not the frontend domain.
DISCORD_REDIRECT_URL=https://gggggggggggfffffffffffffffff-production.up.railway.app/api/auth/callback
DISCORD_GUILD_ID=your_guild_id

# Discord Role IDs
DISCORD_ROLE_OWNER=1507436855921082468
DISCORD_ROLE_GLADMIN=1503512406301872198
DISCORD_ROLE_STADMIN=1503512384122257408
DISCORD_ROLE_ADMIN_PLUS=1507939502147113000
DISCORD_ROLE_ADMIN=1507939408223928465
DISCORD_ROLE_STMODER=1503512343202758666
DISCORD_ROLE_MODER=1503512364404703392
DISCORD_ROLE_MLMODER=1503512286223138900
DISCORD_ROLE_STAFF=
DISCORD_ROLE_SYSTEM_ADMIN=
DISCORD_ROLE_CURATOR=1514077135588036698
DISCORD_ROLE_UNDEFINED=1507941424488910981

# JWT
JWT_SECRET=your-super-secret-key-change-this

# Database (Railway PostgreSQL)
DATABASE_URL=postgresql://user:pass@host:5432/dbname

# Frontend
FRONTEND_URL=https://fearsearchstaff.vercel.app

# Staff filter: which group_names are shown on the Staff page.
STAFF_GROUP_NAMES=MLMODER,MODER,STMODER,ADMIN,ADMIN_PLUS,STADMIN,GLADMIN,STAFF

# Server
PORT=8080

# Steam API
STEAM_API_KEY=your_steam_api_key

# Fear Project
FEAR_COOKIE=your_fear_cookie
